<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233579511657-evm8931oi0ru6dl8gl3eogb35k6o1m5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233579511657-evm8931oi0ru6dl8gl3eogb35k6o1m5l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>233579511657-s0fqkai1mpurohsc1fvocj6hri8n3e0i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUE6-6wofqzUZh18xrW2Pgb5Ae33wm5bY</string>
	<key>GCM_SENDER_ID</key>
	<string>233579511657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deversol.expenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-908e9</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-908e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233579511657:ios:8237ae7e8e5486eeee47f8</string>
</dict>
</plist>